{% extends "base.html" %}

{% block content %}
    Это страница о нас, рассказывающая о нас.

    <div class="row">
        <div class="col-md-8 max-auto">
        <!--     8 из 12 колонок -->
                   <div style="position:relative;overflow:hidden;">
                       <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"
                          style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a>
                       <a href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.297806%2C59.899158&utm_medium=mapframe&utm_source=maps&z=16.89"
                          style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты</a>
                       <iframe src="https://yandex.ru/map-widget/v1/?ll=30.297806%2C59.899158&utm_source=main_stripe_big&z=16.89"
                               width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                   </div>
        </div>
    </div>

    <h2>Форма обратной связи</h2>
    <div class="row">
        <form action="/sendmail" method="post">
            <p>Ваше имя: <input type="text" name="name" placeholder="Ваше имя"></p>
            <p>Ваше мыло: <input type="email" name="email" placeholder="Ваше мыло"></p>
            <p>Ваше сообщение: <textarea name="message"></textarea></p>
            <p> <input type="submit" value="Отправить"></p>
        </form>
        <br>
        {{mess}}
    </div>

{% endblock %}
