<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
</head>
<body>
<h1>Привет, {{user}}</h1>
<p>Сегодня {{weather}}.</p>
<h2>Наши страницы</h2>
<ul>
    <li><a href="/form">форма</a></li>
    <li><a href="/upload">загрузка</a></li>
    <li><a href="/numbers">числа</a> (добавьте "/число")</li>
    <li><a href="/queue">итерации</a></li>
    <li><a href="/todo">список</a></li>
</ul>

</body>
</html>